<div class="container">
  <h1>Editing Question</h1>
</div>
  <%= render 'form' %>
<div class="container">
  <%= link_to 'Back', questions_path %> |
  <%= link_to 'Delete', question_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
