<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<div class = "container">
  <div class = "page-header">
    <center><h1>QUIZIFY</h1></center>
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to 'Home', root_path %></li>
      <li role="presentation"><%= link_to 'All Questions', controller: 'questions' %></li>
      <li role="presentation"><%= link_to 'New Question', new_question_path, {class: 'allquestions-link'}  %></li>
    </ul>
  </div>
</div>
